* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-out 0.9s;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
:root {
  --font-family1:'Lato', sans-serif;
  --font-size-nav: 1rem;
  --h1:3rem;
  --h2:2.2rem;
  --p:1.1rem;
  --h1-500px:1.5rem;
  --margin-botton:5rem;
  --margin-txt:1rem;
  --margin-top:30vh;
  --margin-top-card-service: 15vh;
  --black-background:#1d3557;
  --white-font:#f1faee;
  --green-font:#e63946;
  --hover-button:#457b9d;
  --hover-icon:#457b9d;
  --icon-size:6rem;
  --icon-size-cv:1.9rem;
}

.fas:before, .fab:before{
  font-size: 8rem;
}

.fa-file-download:before {
  font-size: 2rem;
}

body {
  background-color: var(--black-background);
  font-family: var(--font-family1);
  color:var(--white-font);
  height: 100vh;
}

/* HEADER */
.menu-container {
  width: 100%;
  margin: 0 auto;
  padding-left:128px;
  padding-right: 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 1.5rem 0; */
}

.nav-fullview a {
  margin-right: 3rem;
}

.menu-logo, .menu-icon {
  z-index: 2; 
} 
.menu-icon {
  position: relative;
  display: block;
  cursor: pointer;
  appearance: none;
  background: none;
  border:none;
  outline: none;
  color: white; 
}
.fa-bars:before {
  font-size: 3rem;
}


.menu-icon::before, .menu-icon::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  margin: 6px 0px;
  transition: 0.4s;
}

.nav-mobile.is-active {
  left:0;
}

.nav-mobile {
  position:fixed;
  top:0;
  /* cambiando el left a 100% desaparece */
  left:100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  background-color: #12002f;
  padding-top: 120px;
  transition: 0.4s;
  z-index: 1;  
}

.nav-mobile a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #1f103f;
  color: #FFF;
  text-decoration: none;  
}

.nav-mobile a:hover {
  background-color: #2414f2;
}
















/* PRESENTATION */
.presentation{
  background-color: rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.presentation img {
  border-radius: 100%;
  height: auto; 
  width: 15rem;
}

.presentation_text{
  margin-left: 3rem;
  text-align: center;
  font-size: 1.1rem;
}



a, ul, li {
  list-style: none;
  text-decoration: none;
  color: var(--white-font);
}

p {
  font-size: var(--p);
}

.title{
  font-size: var(--font-size-titles);
}



/* ABOUT */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: var(--margin-botton); 
  margin-top: var(--margin-top);
  height: 100vh;
}

.about h1{
  margin:6vh; 
  font-size: var(--h1);
}

.about h2{
  margin: 4vh;
  font-size: var(--h2);
  text-align: center;
}

.about .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


/* HOVER ICONS */
.contact_icon .fab:hover, .contact_icon .fas:hover{
  color:var(--hover-icon);
}

.about div .grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-left: 2rem;
}

.box_small {
  width: 50%;
}

/* BUTTON */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin-top: var(--margin-top);
  }

.button1 {
  cursor: pointer;
  font-weight:300;
  padding:0.35em 1.2em;
  border:none;
  border-radius:10px;
  transition: all 0.9s;
  box-shadow: 0 0.1rem var(--white-font);
  background: var(--green-font);
  color: var(--white-font);
  font-size: var(--h2);
}
  
.button1:hover{
  background-color:var(--hover-button);
}

#cv {
  font-size: var(--h2);
}

#cv i {
  font-size: var(--icon-size-cv);
  margin-left: 0.5rem;
}

/* PDF IFRAME */
iframe {
  width: 100%;
  height: 100vh;
  border: 0;
}

/* SERVICES */
.services{
  text-align: center;
  margin-bottom: var(--margin-botton);
  margin-top: var(--margin-top);
  margin-left: 8rem;
  margin-right: 8rem;
}

.services h1{
  margin:1vh; 
  font-size: var(--h1);
}

.services h2{
  margin: 4vh;
  font-size: var(--h2);
}

.grid_service {
  display: grid;
  grid-template-columns: 50%  50% ;
}

.card_services {
  margin-top: var(--margin-top-card-service);
}

/* PORTAFOLIO */
.portafolio {
  margin-top: var(--margin-top);
  text-align: center;
}

.portafolio img {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

.portafolio .gallery .box img {
  width: 100%;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  height: auto;
}

.portafolio .gallery .box img:hover {
  transform: scale(0.9);
  
}

.portafolio h1{
  font-size: var(--h1);
}

.gallery {
  column-count: 3;
  padding: 4rem 10%;
}

.gallery .box {
  padding: 1rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding-top: calc(100% / (16/10));
}

.gallery .box img {
  width:100%;
}

/* CERTIFICATE */
.certificates{
  flex-direction: column;
  text-align: center;
  margin-bottom: var(--margin-botton);
  margin-top: var(--margin-top);
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

.certificates img {
  width: 50%;
}

.certificates h1{
  margin:1vh;
  font-size: var(--h1);
}

.certificates p{
  margin: 4vh;
  font-size: var(--p);
}
/* ---- CERTIFICATE */

/* CONTACT */
.contact {
  text-align: center;
  margin-bottom: var(--margin-botton);
  margin-top: var(--margin-top);
}

.contact a{
  color: black;   
}

.contact a:hover{
  color:var(--hover-icon);
  transition: all ease 0.9s;
}

.contact h1{
  margin:6vh; 
  font-size: var(--h1);
}

.contact_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: auto;
  margin-bottom: var(--margin-botton);
}

.contact_box a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color:var(--white-font)
}

.iconify {
  font-size: var(--icon-size);
}
/* ---- CONTACT */

/* COPYRIGHT */
.copyright{
  text-align: center;
  padding-bottom: 0.5rem;
  margin-top: var(--margin-top);
}

.copyright p {
  font-size: var(--p) ;
  margin:0.4rem; 
}

@media screen and (min-width: 1090px){
  .menu-icon{
    display: none;
  }
}
@media screen and (max-width: 1090px){
  .nav-fullview {
    display: none;
  }
}
/* MEDIA QUERYS */
@media screen and (max-width: 700px){
  :root {
    --font-family1:'Lato', sans-serif;
    --font-size-nav: 1rem;
    --h1:3rem;
    --h2:2.5rem;
    --p:1.5rem;
    --margin-botton:1rem;
    --margin-txt:1rem;
    --margin-top:20rem;
    --margin-top-card-service: 25rem;
    --icon-size:5rem;
  }
 .nav-fullview {
    display: none;
  }
  h1, h2 {
    text-align: center;
  }

  h2 {
    font-size: var(--h2);
    }

   /* CARD PRESENTATION */
  .presentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .presentation img {
    height: 30vh;
    width: 30vh;
  }
  
  .presentation_text{
    text-align: center;
    font-size: 1.1rem;
    margin:0;
  }

  /* SERVICES */
  .services{
    text-align: center;
    margin-bottom: var(--margin-botton);
    margin-top: var(--margin-top);
    margin-left: 8rem;
    margin-right: 8rem;
  }

  .services h1{
    margin:1vh; 
    font-size: var(--h1);
  }

  .services h2{
    margin: 1vh;
    font-size: var(--h2);
  }

  .grid_service {
    display: grid;
    grid-template-columns: 100%;
  }

  .card_services {
    margin-top: var(--margin-top-card-service);
  }
  
  /* SKILLS */
  .gallery {
    column-count: 1;
    margin: 0;
  }

  .gallery .box {
    padding: 0;
  }



  /* ABOUT */
  .contact .fab, .iconify {
    font-size: var(--icon-size);
  }

  .about {
    text-align: center;
    margin:0;
    height: auto;
    margin-top: var(--margin-top);
  }

  .about .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  
  .about div .grid{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    margin: 0;
  }

  .about div .grid i{
    margin-bottom: 1.5rem;
  }

  /* BUTTON */
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
  }

  .button1 {
    background-color: var(--green-font); /* Green */
    color: var(--white-font);
    border: none;
    padding: 0.2rem 0.3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }

  #cv i {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .box_small {
    width: 90%;
  }

  /* SERVICE */
  .services {
    margin: 1rem;
    margin-top: var(--margin-top);
  }

  /* COPYRIGHT */
  .copyright{
    text-align: center;
    padding-bottom: 0.5rem;
    margin-top: calc(var(--margin-top) / 3);
  }

  .copyright p {
    font-size: var(--p) ;
  }
}



