* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
:root {
  --font-family1:'Lato', sans-serif;
  --font-size-titles: 2rem;
  --font-size-nav: 1.3rem;
  --font-size-p:1.5rem;
  --font-size-p-500px:1.5rem;
  --margin-botton:35vh;
  --margin-txt:1rem;
  --margin-top:30vh;
  --margin-top-card-service: 15vh;
  --white-font:rgb(255, 255, 255);
  --green-font:#06e32d;
  --black-background:#000;
  --size-icons:8rem;

}

body {
  background-color: var(--black-background);
  font-family: var(--font-family1);
  color:var(--white-font);
  /* margin: 0 200px; */
}

a, ul, li {
  list-style: none;
  text-decoration: none;
  color: var(--white-font);
}

p {
  font-size: var(--font-size-p);
}

.background {
  background-image: url(./img/back1.jpg);
  background-size: cover;
  background-position: center;  
}

.title{
    font-size: var(--font-size-titles);
}

/* ICON ABOUT ME  */
.fab, .fas {
  font-size: var(--size-icons);
}

/* fas dowload icon services icons */


/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 7rem ;
}

header h1 {
  color: var(--green-font);
  font-size: var(--font-size-p);
}

.navbar ul li a:hover {
  color:var(--green-font);
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
  margin-left: 7vh;
  font-size: var(--font-size-nav);
}

#myName {
  color:var(--green-font);
}
#folio {
  color:var(--white-font);
}

/* CARD */
.presentation_card {
  background-color: rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 84vh;
}

.presentation_card img {
  border-radius: 100%;
  height: 15rem;
  width: 15rem;
}

.presentation_card_text{
  margin-left: 3rem;
  text-align: center;
  font-size: 1.7rem;
}

.presentation_card_text h2 {
  margin-bottom: 2vh;
}

/* ABOUT */
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120vh;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: var(--margin-botton); 
  margin-top: var(--margin-top);
}

.about h1{
  margin:6vh; 
}

.about h2{
  margin: 4vh;
}

.about .box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div .grid{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin-left: 2rem;
}

.button1 {
  background-color: var(--green-font); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
  margin-top: var(--margin-top);
}

#cv {
  text-align: center;
  font-size: 21px;
}
#cv i {
  font-size: 18px;
  margin-left: 15px;
}


.box_small {
  width: 50%;
}

/* SERVICES */
.services{
  text-align: center;
  margin-bottom: var(--margin-botton);
  margin-top: var(--margin-top);
  margin-left: 8rem;
  margin-right: 8rem;
}

.services h1{
  margin:6vh; 
}

.services h2{
  margin: 4vh;
}

.grid_service {
  display: grid;
  grid-template-columns: 50%  50% ;
}

.card_services {
  margin-top: var(--margin-top-card-service);
}

/* PORTAFOLIO */
/* gallery */
.portafolio {
  margin-top: var(--margin-top);
  text-align: center;
}

.portafolio img {
  width: 100%;
  height: auto;
  transition: all .2s ease;
  margin-top: 1rem;
}

.gallery {
  column-count: 3;
  padding: 4rem 10%;
}

.gallery .box {
  padding: 1rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  padding-top: calc(100% / (16/10));
}

.gallery .box img {
  width:100%;
}
/* SERTIFICATE */
.certificates{
  text-align: center;
  margin-bottom: var(--margin-botton);
  margin-top:var(--margin-top);
}
.certificates img {
  width: 50%;
}

.certificates h1{
  margin:6vh; 
}

.certificates h2{
  margin: 4vh;
}

/* CONTACT */
.contact{
  text-align: center;
  margin-bottom: var(--margin-botton);
  margin-top: var(--margin-top);
}

.contact_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
  margin-bottom: var(--margin-botton);
}

.contact_box a {
  width: 30vh;
  background-color: dimgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  border-radius: 10px;
}

.contact h1{
  margin:6vh; 
}

.contact a{
  color: black;   
}

.contact a:hover{
  color: #999;   
}

.contact h2{
  margin: 4vh;
}

.contact_box {
  display: row;
}
.iconify {
  font-size: var(--size-icons);
}
/* COPYRIGHT */
.copyright{
  text-align: center;
  margin-top: var(--margin-top);
}

.copyright p {
  margin:3vh; 
}


/* MEDIA QUERYS */
@media screen and (max-width: 700px){
  :root {
  --font-family1:'Lato', sans-serif;
  --font-size-titles: 0.5rem;
  --font-size-nav: 1rem;
  --font-size-p:0.5rem;
  --font-size-h2:0.5rem;
  --margin-botton:15vh;
  --margin-txt:1rem;
  --margin-top:15vh;
  --margin-top-card-service: 10vh;
  --size-icons:2rem;
}
  div .grid {
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 4rem;
  }
  .grid_service {
    display: grid;
    grid-template-columns: 100%;
  }
  .presentation_card img {
    height: 6rem;
    width: 6rem;
  }
  .presentation_card img {
    margin-bottom: 3rem;
  }
  /* SKILLS */
  .fab, .fas {
    text-align: center;
  }
  /* SKILLS */
  .button {
    text-align:center;
    margin-bottom: 3rem;
  }
  .gallery {
    column-count: 1;
    margin: 0;
    
  }
  .gallery .box {
    padding: 0;
  }
  h1, h2 {
    text-align: center;
  }
  h2 {
    font-size: var(--font-size-h2);
  }
  .navbar {
    display: none;
  }
  
  .presentation_card_text {
    margin: 0;
  }
  .nav_logo {
    font-size: 1.5rem;
    text-align: center ;
  }
  header {
    justify-content: center;
  }
  html {
    width: 100%;
  }
  body {
    min-width: 100%;
  }
  .presentation_card {
    background-color: rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem;
  }
  .box_small{
    width: 100%; 
  }
  .services {
    margin: 3rem;
  }
}


